<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ITransmitterService" receiveTimeout="01:00:00">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://192.168.0.101:10577/transmitter" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ITransmitterService" contract="ServiceReference1.ITransmitterService" name="NetTcpBinding_ITransmitterService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DynamicDataDisplay" publicKeyToken="5b7d744a7263923f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.4.0.0" newVersion="0.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>